<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <a routerLink="/home">
                <img src="/images/logo.png">
            </a>
            <p class="logo">Споделяме помежду си рецепти с любов и грижа</p>
        </div>
        <div class="mini-navbar">
           @if (!isLoggedIn()) {
            <ul>
                <li>
                    <a routerLink="/login" routerLinkActive="active">Вход</a>
                </li>
                <li>
                    <a routerLink="/register" routerLinkActive="active">Регистрация</a>
                </li>
            </ul>
            }@else{
                <ul>
                <li>
                    <a routerLink="/profile">{{username()}}</a>
                </li>
                <li>
                    <a (click)="onLogout()">Изход</a>
                </li>
            </ul>
            }
        </div>
        <app-recipes-count></app-recipes-count>
    </div>
    
    <nav>
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active">Начало</a>
            </li>
            <li>
                <a routerLink="/recipes" routerLinkActive="active">Рецепти</a>
            </li>
        </ul>
    </nav>
</header>