<div class="profile-wrapper">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <div class="profile-header">
      <div class="avatar">
        <img [src]="user?.profilePic || '/images/profile-pic.png'">
      </div>
    </div>

    <div class="row">
      <div class="profile-field">
        <i class="fa fa-user"></i>
        <input type="text" name="firstName" id="firstName" formControlName="firstName" placeholder="Име">
        @if (profileForm.get('firstName')?.touched && profileForm.get('firstName')?.invalid){
        @if(profileForm.get("firstName")?.errors?.["required"]){
        <p class="error">
          Името е задължително.
        </p>
        }
        @if(profileForm.get("firstName")?.errors?.["minlength"]){
        <p class="error">
          Името трябва да съдържа поне 2 знака!
        </p>
        }
        }
      </div>

      <div class="profile-field">
        <i class="fa fa-user"></i>
        <input formControlName="lastName" placeholder="Фамилия">
        @if (profileForm.get('lastName')?.touched && profileForm.get('lastName')?.invalid){
        @if(profileForm.get("lastName")?.errors?.["required"]){
        <p class="error">
          Фамилията е задължителна.
        </p>
        }
        @if(profileForm.get("lastName")?.errors?.["minlength"]){
        <p class="error">
          Фамилията трябва да съдържа поне 2 знака!
        </p>
        }
        }
      </div>
    </div>

    <div class="profile-field">
      <i class="fa fa-envelope"></i>
      <input id="email" type="text" placeholder="Имейл" name="email" formControlName="email" readonly>
    </div>

    <app-city-select wrapperClass="profile-field" [form]="profileForm" controlName="city"></app-city-select>


    <div class="profile-field">
      <i class="fa fa-cake-candles"></i>
      <input type="number" name="age" id="age" placeholder="Години" formControlName="age">
    </div>

    <div class="actions">
      <button type="submit" class="primary-btn" [disabled]="profileForm.invalid || isLoading">
        @if (!isLoading) {
        <span>Запази</span>
        } @else {
        <span class="spinner"></span>
        }
      </button>

      <button type="button" class="secondary-btn" (click)="cancel.emit()">
        Откажи
      </button>
    </div>

  </form>
</div>