
.recipe-card {
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    cursor: pointer;
}

.recipe-card:hover {
    transform: translateY(-6px);
}

.image-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 0.4s;
}

.recipe-card:hover img {
    transform: scale(1.05);
}

.card-content {
    padding: 16px;
}

.recipe-name {
    font-size: 18px;
    margin-bottom: 8px;
    color: var(--text-main);
}

.cooking-time {
    font-size: 14px;
    color: var(--text-light);
    margin-bottom: 12px;
}

.meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.category {
    color: var(--text-light);
}

.favorites {
    color: var(--primary);
    font-weight: 600;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 3px 8px;
}