<div class="recipe-card" [routerLink]="['/recipes', recipe._id]">
    <div class="image-wrapper">
        <img [src]="recipe.category | categoryImage" alt="recipe" />
        @if(isOwner()){
        <div class="actions">
            <button class="edit-btn" [routerLink]="['/recipes', recipe._id, 'edit']" (click)="$event.stopPropagation()">
                <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="delete-btn" (click)="onDelete($event)">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
        }
    </div>
    <div class="card-content">
        <h3 class="recipe-name">{{ recipe.recipeName }}</h3>
        <p class="cooking-time">
            <i class="fa-regular fa-clock"></i>
            {{ recipe.cookingTime | cookingTime}}
        </p>
        <div class="meta">
            <span class="category">
                {{ labels[recipe.category] }}
            </span>
            @if (authService.isLoggedIn()) {
                <app-favorites [count]="getFavoritesCount(recipe)" [isFavorited]="isRecipeFavorited(recipe, user()?._id)"
                    (toggle)="onToggleFavorite()">
                </app-favorites>
            } @else {
                <app-favorites [count]="getFavoritesCount(recipe)" [disabled]="true"></app-favorites>
            }

        </div>
    </div>
</div>