<footer>
    <div class="mini-navbar-wrap">
        <div class="logo-text-wrap">
            <a routerLink="/home">
                <img src="/images/logo-text.png">
            </a>
        </div>
        <div class="mini-navbar">
            <ul>
                <li>
                    <a routerLink="/forus" routerLinkActive="active">за нас</a>
                </li>
                <li>
                    <a routerLink="/terms" routerLinkActive="active">общи условия</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
