<div class="recipes container">
  <h2 class="recipes-title">Рецепти</h2>

  @if (authService.isLoggedIn()) {
  <div class="tabs-actions">
    <nav class="tabs-recipes">
      <ul>
        <li>
          <a routerLink="/recipes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Всички
          </a>
        </li>
        <li>
          <a routerLink="/recipes/mine" routerLinkActive="active">
            Моите
          </a>
        </li>
        <li>
          <a routerLink="/recipes/favorites" routerLinkActive="active">
            Любими
          </a>
        </li>
      </ul>
    </nav>

    <button class="add-btn" routerLink="/recipes/add">
      <i class="fa-solid fa-plus"></i> Добави рецепта
    </button>
  </div>
  }

  <div class="recipes-grid">
    @for (recipe of recipes; track recipe._id) {
    <app-recipe-item [recipe]="recipe" (deleteRecipe)="onDelete($event)"></app-recipe-item>
    }
  </div>
</div>